// .App {
//     font-family: Arial, sans-serif;
//     padding: 20px;
//   }
  
  // .search-box {
  //   padding-left: 10px;
  //   padding-right: 10px;
  //   position: relative;
  // }
  
  .search-box {
    width: 100%;
    padding: 10px;
  }

  .group{
    border: 1px solid #ccc;
  }
  
  .bank-list {
    position: absolute;
    width: 60%;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
  }


  
  
  .bank-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }
  
  .bank-item:last-child {
    border-bottom: none;
  }

  .bank-item:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
    color: #333; /* Optionally change the text color if needed */
  }
  
  
  .bank-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  

  /* Webkit browsers */
input[type="text"]::-webkit-scrollbar {
  width: 8px;  /* Width of the scrollbar */
}

input[type="text"]::-webkit-scrollbar-track {
  background: #f1f1f1;  /* Background of the scrollbar track */
}

input[type="text"]::-webkit-scrollbar-thumb {
  background: #888;  /* Color of the scrollbar thumb */
  border-radius: 10px;  /* Roundness of the scrollbar thumb */
}

input[type="text"]::-webkit-scrollbar-thumb:hover {
  background: #555;  /* Color when hovering over the scrollbar thumb */
}

/* Firefox */
input[type="text"] {
  scrollbar-width: thin;  /* Makes the scrollbar thin */
  scrollbar-color: #888 #f1f1f1;  /* Color of the thumb and track */
}
